set timeout=1

#set up 800x600
set gfxmode=800x600
insmod gfxterm
set gfxpayload=keep
terminal_input gfxterm
terminal_output gfxterm


menuentry 'Focus Operating System' {
    multiboot /boot/kernel ro
}